body{
  background-image: url("http://www.planwallpaper.com/static/images/Alien_Ink_2560X1600_Abstract_Background_1.jpg");
}

h1 {
  font-family: 'Chewy', cursive;
  font-size: 60px;
}

#textArea {
  width: 700px;
  height: 150px;
  font-family: 'Chewy', cursive;
  font-size: 36px;
}

#inputArea {
  width: 700px;
  height: 50px;
}

#inputText {
  width: 700px;
  height: 50px;
  font-size: 16px;
}

#translationChoices {
  margin: 10px;
  font-family: sans-serif;
  font-size: 18px;
}

#translationArea {
  width: 700px;
  height: 150px;
  font-family: 'Nunito', sans-serif;
  font-size: 36px;
}

#translationInputText {
  width: 700px;
  height: 50px;
  font-size: 16px;
}
